<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="nl.igorski.lib">

    <!-- minimum version is API 10 ( 2.3.3 Gingerbread ) but we target API 17
         ( 4.2 Jellybean ) for low latency audio -->

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="23" />

    <!-- required permissions -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.RECORD_AUDIO" />-->
</manifest>
